#!/bin/bash
# vim: ft=sh tftp

set -xo pipefail


#!/bin/bash
echo "Debugging Info"
whoami
env
echo "database info"
export DB_HOST=${db_host}
export DB_USER=${db_user}
export DB_NAME=${db_name}
export DB_PASSWORD=${db_password}

echo "EOF Main Script"
echo "BOF Extended Script"
${stackscript_extend}
# TODO: move the below to implementation module.
echo "EOF Extended Script"
